<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <section class="row">
                <div class="col-sm-6 ">
                    <img src="./img/pikachu-battle-card.jpg" alt="" align="middle">
                    <h1 class="text-center">YOU</h1>
                    <div class="healthbar">
                        <div :style="{width: playerHealth + '%'}">
                            <p> {{playerHealth}} </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <img src="./img/charmelon-pokemon-card.jpg" alt="">
                    <h1 class="text-center">OPPONENT</h1>
                    <div class="healthbar">
                        <div :style="{width: monsterHealth + '%'}">
                            <p> {{monsterHealth}} </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="row controls" v-if="newGame">
                <div class="col-sm-12">
                    <button id="start-game" @click="startNewGame">START NEW GAME</button>
                </div>
            </section>

            <section class="row controls" v-else>
                <div class="col-sm-12 ">
                    <button id="attack" class="btn btn-lg btn-danger" @click="attack">ATTACK</button>
                    <button id="special-attack" class="btn btn-lg btn-warning" @click="specialAttack">SPECIAL ATTACK</button>
                    <button id="heal" class="btn btn-lg btn-success" @click="heal">HEAL</button>
                    <button id="give-up" class="btn btn-lg btn-secondary" @click="endGame">END GAME</button>
                </div>
            </section>

            <section class="row log" v-if="turns.length > 0">
                <div class="col-sm-12 ">
                    <ul>
                        <!-- Using the Vue.js FOR loop and attaching CSS classes with conditional logic -->
                        <li v-for="turn in turns"
                            :class="{'playersTurn': turn.playersTurn, 'monstersTurn': turn.monstersTurn}">
                            {{ turn.text}}
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <script src="js/vue.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>